/* navbar */
nav {
    background-color: red;
}
/* images */

/* text */
p {
    font-family: "tumba-text-variable", sans-serif;
    font-variation-settings: "wght" 400;
}
h1, h4 {
font-family: "p22-posada", sans-serif;
font-weight: 400;
font-style: normal;
}
a {
    font-family: "dalliance-roman", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.card-title {
    font-family: "legitima", serif;
    font-weight: 500;
    font-style: normal;
}
li {
    list-style: inside;
}
.nav-item {
    list-style: none;
}
/* imgs */
#intro {
    background-color: rgb(188, 188, 255);
}
.carousel-item {
    height: 600px;
    width: 500px;
}
